@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand|Architects+Daughter);

body {
  background-color: black;
  background-image: url("../styles/notepad-hi.png");
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 600px;
  height: 600px;

}
h1 {
  text-align: center;
  color: #5F5F5F;
  font-family: 'Architects Daughter';
  font-size: 60px;
}
.todo {
  display: flex;

  text-align: right;
}

.add {
  padding-top: 40px;
  display: flex;
  text-align: right;
}

form {

}
label {

}

.label {
  text-align: left;
  font-size: 20px;
  color: #5F5F5F;
  font-family: 'Quicksand';
  padding-left: 150px;
}

button {
  font-size: 14px;
  margin-left: 200px
}
#list {
  list-style: none;
}

#completelist {
  font-style: italic;
  color: black;
  text-decoration: line-through;
  list-style: none;
}

li {
  font-family: 'Quicksand';
  color: #5F5F5F;
  font-size: 16px;
  text-align: left;
}

.completed {
  display: flex;

}

.complete {
  text-decoration: line-through;
  color: white;
}
